<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcone</title>
    <link rel="stylesheet" type="text/css" href="css/tiny_twitter.css">
</head>
<body>
<div class="header" th:fragment="header">
    <div class="icon"></div>
    <!--/*@thymesVar id="isLogIn" type="bool"*/-->
    <!--/*@thymesVar id="loginName" type="string"*/-->
    <div class="header-navi-left">Home</div>
    <div class="header-navi-left">Explore Blogs</div>
    <div th:if="${loginName}" class="header-navi-left">My Blogs</div>
    <div th:if="${loginName}" class="header-navi-left">My Collections</div>
    <div th:if="${loginName == null}" class="header-navi-right">Login</div>
    <div th:if="${loginName}" class="header-navi-right">
        Hi, <a href="" th:text="${loginName}"></a>
    </div>
    <div th:if="${loginName}" class="header-navi-right">Logout</div>
</div>


</body>
</html>